body {
  margin: 0;
  font-family: sans-serif;
}

.clear {
  clear: both;
  content: ""
}

.game {
  display: block;
  flex-direction: column;
}

.wrapper {
  box-sizing: border-box;
  background: linear-gradient(to right, #B3E5FC, #D1F2EB);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
  
.main {
  box-sizing: border-box;
  height: 65vh;
  min-width: 55vw;
  max-width: 75vw;
  background: #fff;
  box-shadow: 0px 10px 20px -10px #2c3e50;
  border-radius: 20px;
  margin: 0 auto;
}
  
.gameContainer {
  box-sizing: border-box;
  height: 65vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#424242 ;
}

.gameInfoLeft {
  box-sizing: border-box;
  padding: 3rem 2rem;
  
}

.gameTitle {
  margin: 0 0 2rem 0;
}

.rulesContainer {
  margin: 0 0 2rem 0;
}

.boardColRight {
  box-sizing: border-box;
  background-color:#37474F ;
  border-radius: 0 20px 20px 0;
  height: 65vh;
  padding: 2rem 2rem;
}

.board .row {
  margin: 1rem 2rem;
}

.board .row .btn {
  margin: 1em;
}

.boardInfo {
  color: #FFFFFF;
}

.cell {
  background: #d1ecf1;
  border: 1px solid #80acb3;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #bee5eb;
}

.is-flag,
.is-mine {
  color: #fc543c;
}
